[submodule "vendor/consul-bin"]
	path = vendor/consul-bin
	url = ../consul-bin
[submodule "vendor/dhall-bin"]
	path = vendor/dhall-bin
	url = ../dhall-bin
[submodule "vendor/dhall-prelude"]
	path = vendor/dhall-prelude
	url = ../dhall-prelude
