[submodule "vendor/consul-bin"]
	path = vendor/consul-bin
	url = ../../seagate/consul-bin
[submodule "vendor/dhall-bin"]
	path = vendor/dhall-bin
	url = ../../seagate/dhall-bin
[submodule "vendor/dhall-prelude"]
	path = vendor/dhall-prelude
	url = ../../seagate/dhall-prelude
