#:build-requirements:
types-PyYAML
types-chardet
types-dataclasses
types-requests
types-simplejson
types-pkg_resources
types-toml
flake8
mypy
pkgconfig
setuptools
wheel

#:runtime-requirements:
idna<3,>=2.5
aiohttp
click
dataclasses
python-consul
simplejson
