# NOTE: this particular file contains the packages required to BUILD the project only.
# Runtime dependencies must be specified in setup.py (see install_requires list).
flake8
mypy
pkgconfig
python-consul
setuptools
wheel
