[Unit]
Description=Consul %i agent for Hare
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/seagate/consul/consul-%i-conf.json

[Service]
ExecStart=/usr/local/bin/consul agent -config-file=/opt/seagate/consul/consul-%i-conf.json -data-dir=/tmp/consul -ui
ExecReload=/usr/local/bin/consul reload
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
