[Unit]
Description=Consul agent for Hare
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/seagate/hare/systemd/consul-env

[Service]
EnvironmentFile=/opt/seagate/hare/systemd/consul-env
ExecStart=/opt/seagate/hare/systemd/consul
ExecReload=/usr/local/bin/consul reload
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
