[Unit]
Description=HAX daemon for Hare
Requires=consul.service motr-kernel.service
After=motr-kernel.service

[Service]
# TODO: '/opt/seagate/cortx/hare' prefix can be different, e.g. '/usr'
SyslogIdentifier=hare-hax
Environment=PYTHONPATH=/opt/seagate/cortx/hare/lib64/python3.6/site-packages:/opt/seagate/cortx/hare/lib/python3.6/site-packages
ExecStart=/bin/sh -c 'cd /var/motr/hax && exec /opt/seagate/cortx/hare/bin/hax'
KillMode=process
Restart=on-failure
