[Unit]
Description=Consul agent for Hare
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/var/lib/hare/consul-env

[Service]
EnvironmentFile=/var/lib/hare/consul-env
ExecStart=/opt/seagate/cortx/hare/libexec/consul/hare-consul
ExecReload=/usr/bin/consul reload
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
