[Unit]
Description=HAX daemon for Hare
Requires=hare-consul-agent.service mero-kernel.service
After=hare-consul-agent.service mero-kernel.service

[Service]
WorkingDirectory=/var/mero/hax
# TODO: '/opt/seagate/eos/hare' prefix can be different, e.g. '/usr'
Environment=PYTHONPATH=/opt/seagate/eos/hare/lib64/python3.6/site-packages:/opt/seagate/eos/hare/lib/python3.6/site-packages
ExecStart=/opt/seagate/eos/hare/bin/hax
KillMode=process
Restart=on-failure
