[Unit]
Description=HAX daemon for Hare
Requires=mero-kernel.service
After=mero-kernel.service

[Service]
EnvironmentFile=/opt/seagate/consul/systemd/hax-environment
ExecStart=/bin/sh -c "${HAX_EXE}"
KillMode=process
Restart=on-failure
