[Unit]
Description=HAX daemon for Hare
Requires=consul-agent.service mero-kernel.service
After=consul-agent.service mero-kernel.service

[Service]
EnvironmentFile=/opt/seagate/consul/systemd/hax-environment
WorkingDirectory=/var/mero/hax
ExecStart=/opt/seagate/consul/systemd/hax
KillMode=process
Restart=on-failure
