{
  "cluster": {
    "my-cluster": {
      "site": {
        "storage_set_count": "1"
      },
      "storage_set": [
        {
          "durability": {
            "sns": {
              "data": "4",
              "parity": "2",
              "spare": "2"
            }
          },
          "name": "storage1",
          "server_nodes": [
            "1114a50a6bf6f9c93ebd3c49d07d3fd4",
            "9ec5de3a8b57493e8fc7bfae67ecd3b3",
            "846fd26885f8423a8da0626538ed47bc"
          ]
        }
      ]
    }
  },
  "server_node": {
    "1114a50a6bf6f9c93ebd3c49d07d3fd4": {
      "cluster_id": "my-cluster",
      "hostname": "ssc-vm-1623.colo.seagate.com",
      "name": "srvnode-1",
      "network": {
        "data": {
          "interface_type": "tcp",
          "private_interfaces": [
            "eth0",
            "eno2"
          ]
        }
      },
      "s3_instances": "1",
      "storage_set_id": "storage1",
      "storage": {
        "cvg_count": "2",
        "cvg": [
          {
            "data_devices": [
              "/dev/sda",
              "/dev/sdb",
              "/dev/sdc"
            ],
            "metadata_devices": [
              "/dev/sdd"
            ]
          },
          {
            "data_devices": [
              "/dev/sdg",
              "/dev/sdh",
              "/dev/sdi"
            ],
            "metadata_devices": [
              "/dev/sdj"
            ]
          }
        ]
      }
    },
    "9ec5de3a8b57493e8fc7bfae67ecd3b3": {
      "cluster_id": "my-cluster",
      "hostname": "ssc-vm-1624.colo.seagate.com",
      "name": "srvnode-2",
      "network": {
        "data": {
          "interface_type": "tcp",
          "private_interfaces": [
            "eth0",
            "eno2"
          ]
        }
      },
      "s3_instances": "1",
      "storage_set_id": "storage1",
      "storage": {
        "cvg_count": "2",
        "cvg": [
          {
            "data_devices": [
              "/dev/sdb",
              "/dev/sdc",
              "/dev/sdd"
            ],
            "metadata_devices": [
              "/dev/sde"
            ]
          },
          {
            "data_devices": [
              "/dev/sdf",
              "/dev/sdg",
              "/dev/sdh"
            ],
            "metadata_devices": [
              "/dev/sdi"
            ]
          }
        ]
      }
    },
    "846fd26885f8423a8da0626538ed47bc": {
      "cluster_id": "my-cluster",
      "hostname": "ssc-vm-1625.colo.seagate.com",
      "name": "srvnode-3",
      "network": {
        "data": {
          "interface_type": "tcp",
          "private_interfaces": [
            "eth0",
            "eno2"
          ]
        }
      },
      "s3_instances": "1",
      "storage_set_id": "storage1",
      "storage": {
        "cvg_count": "2",
        "cvg": [
          {
            "data_devices": [
              "/dev/sdb",
              "/dev/sdc",
              "/dev/sdd"
            ],
            "metadata_devices": [
              "/dev/sde"
            ]
          },
          {
            "data_devices": [
              "/dev/sdf",
              "/dev/sdg",
              "/dev/sdh"
            ],
            "metadata_devices": [
              "/dev/sdi"
            ]
          }
        ]
      }
    }
  }
}
